/*remove default enforced styles- no element to have margin or border unless specifically stated*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ABAC7F;
    color: #080808;
}

/*header*/
header{
    padding: 20px 35px;
    background-color:#717744;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fefefe;
    margin: 0;
    display: inline;
}

header a{
    color: #fefefe;
    text-decoration: none;
}

header nav{
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/*Footer*/
footer{
    background: #717744;
    width: 100%;
    padding: 40px 35px;
    text-align: center;
}

footer h2{
    display: inline;
    color: #fefefe;
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
    
}

section{
    padding: 60px;
    
}

/*Hero Style*/
.hero{
    background-image: url('../img/foodimg.jpg');
    height: 500px;
    background-size: cover;
    background-position: center top;
    
}
/* contact style */
.contact{
    position: relative;
}

/*Contact Form Style*/
.contact-form{
    background-color: #373d20;
    padding: 20px;
    width: 500px;
    color: #fefefe;
    border: solid 3px #080808;
    position: absolute;
    bottom: 50px;
    right: 140px;  
}

.contact-form p{
    margin: 5px 0 15px 0;
}

.contact-form h2{
    font-size:24px;
    margin:0;
}
.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:#024e76;
    width: 100%;
    margin-bottom:15px;
}

.contact-form label{
    margin: 0 5px;
}

.contact-form button{
    color: #fefefe;
    background-color: #717744;
    border:none;
    padding: 10px 20px;
    font-size: 16px;
}