/*remove default enforced styles- no element to have margin or border unless specifically stated*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ABAC7F;
    color: #080808;
}

/*header*/
header{
    padding: 20px 35px;
    background-color:#717744;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fefefe;
    margin: 0;
    display: inline;
}

header a{
    color: #fefefe;
    text-decoration: none;
}

header nav{
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/*Footer*/
footer{
    background: #717744;
    width: 100%;
    padding: 40px 35px;
    text-align: center;
}

footer h2{
    display: inline;
    color: #fefefe;
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
    
}

section{
    padding: 60px;
    
}

/*Hero Style*/
.hero{
    background-image: url('../img/foodimg.jpg');
    height: 500px;
    background-size: cover;
    background-position: center top;  
}

.hero-text{
    padding-bottom: 100px;
}


/*Contact Form Style*/
.contact-form{
    background-color: #373d20;
    padding: 20px;
    width: 500px;
    color: #fefefe;
    border: solid 3px #080808;  
}

.contact-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:#024e76;
    width: 100%;
    margin-bottom:15px;
}

.contact-form label{
    margin: 0 5px;
}

.contact-form button{
    color: #fefefe;
    background-color: #717744;
    border:none;
    padding: 10px 20px;
    font-size: 16px;
}

/*breakfast section style*/
.breakfast{
    text-align: center;
}

.recipe{
    width: 900px; 
    margin: 0 auto 30px auto;
    /* background: #373d20; */
    color: #ABAC7F;
    overflow:auto;
}

.recipe img{
    width: 35%;
    float: left;
}
 
.recipe-body{
    padding: 15px;
    float: left;
    width: 65%;
}

.dish-description{
    width: 100%;
    margin: 10px 0 10px 0;
    border-bottom: solid 3px #080808;
}
.dish-description h3{
    text-decoration: underline;
}

.dish-description p{
    font-style: italic;
    padding: 10px 0 10px 0;
}

.ingredients{
    margin: 10px;
    padding: 10px;
    border-bottom: solid 3px #080808;
}

.ingredients ul li{
    list-style-type: none;
}

.steps{
    text-align:start;
    margin: 10px;
}

.breakfast p {
    line-height: 1.7;
    color: #fefefe;
    /* width: 80%; */
    font-size: 20px;
    margin: 0 auto;
}

.lunch{
    text-align: center;
    background: #373d20;
}

/* .lunch h2{
    font-size: 55px;
    color: #ABAC7F;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #fefefe;
} */


.lunch h3{
    color: #fefefe;
    margin-top: 10px;
}

.lunch p{
    color: #ABAC7F;
    font-size: 23px;
}

.dinner{
    text-align: center;
}



.section-title {
    font-size: 55px;
    color: #717744;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}
  
.primary-border {
border-color: #fefefe;
}
  
.secondary-border {
border-color: #ABAC7F;
}

.secondary-card-color{
    background: #080808;
}

.primary-card-color{
    background: #373d20;
}